*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
#page1{
    background-color: black;
    height: 100%;
    width: 100%;
}
#page2{
    background-color: rgb(74, 187, 225);
    height: 100%;
    width: 100%;
    padding: 50vw 0;
    
}
#page3{
    background-color: rgb(12, 15, 12);
    height: 100%;
    width: 100%;

}

#page2 h1{
    font-size: 40vw;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(16, 16, 16);
}
